<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Editar Pedido</title>
</head>
<body class="container">
<header>
    <div th:replace="~{menu :: navy}"></div>
</header>
<form class="form" method="post" th:action="@{/pedido/editar-pedido}">
    <div th:each="p:${pedido}">
        <input type="number" class="form-control" th:value="${p.getId()}" name="id" hidden="hidden">
        <div class="mb-3">
            <label for="idM" class="form-label">ID Mesa:</label>
            <input type="number"  pattern="[1-9][0-9]*" class="form-control" th:value="${p.getMesaId()}" id="idM" placeholder="ID Mesa" name="mesaId">
        </div>
        <div class="mb-3">
            <label for="idC" class="form-label">ID Camarero:</label>
            <input type="number"  pattern="[1-9][0-9]*" class="form-control" th:value="${p.getCamaId()}" id="idC" placeholder="ID Camarero" name="camaId">
        </div>
        <div class="mb-3">
            <label for="fec" class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="fec" placeholder="Fecha" name="fecha" th:value="${p.getFecha}">
        </div>
        <div class="mb-3">
            <label for="tot" class="form-label">Total:</label>
            <input type="number" class="form-control" id="tot" th:value="${p.getTotal()}" placeholder="Total" name="total">
        </div>
        <div class="rows">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</form>
</body>
</html>